/* TODO Add site wide styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

p {
  padding: 0px 5px;
  margin: 3px 5px;
}

.basicButton {
  margin: 5px 5px;
}

.paragraph {
  padding: 5px 5px;
  margin: 3px 5px;
}

.loader {
  margin: 100px auto;
}

.basic {
  padding: 30px;
  margin: 30px auto;
  max-width: 980px;
  box-shadow: 1px 1px 2px 2px green;
}

.basicsmall {
  padding: 30px;
  margin: 30px auto;
  max-width: 500px;
  box-shadow: 1px 1px 2px 2px green;
}

.factionbasic {
  padding: 30px;
  margin: 30px auto;
  width: 900px;
  box-shadow: 1px 1px 2px 2px green;
}

.basic-emphasis {
  padding: 30px;
  margin: 30px auto;
  box-shadow: 1px 1px 4px 4px rgb(0, 156, 0);
}

.displayOnline {
  color: greenyellow;
}

.displayOffline {
  color: green;
}

.dropDown {
   background-color: rgb(0, 104, 0);
}

.factionVideo {
  margin: 30px auto;
  max-width: 800px;
}

.invisible {
  display: none;
}

.outfitBox{
  transition: all 1s;
  margin:20px auto;
}

.outfitBox:hover{
  transition: all 1s;
  box-shadow: 1px 1px 5px 5px #339933;
}

.outfitTableRow {
  transition: all 1s;
}

.outfitTableRow:hover {
  transition: all 1s;
  box-shadow: 1px 1px 5px 5px #339933;
}

.siteContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  z-index: -10;
}

.searchResContainer{
  margin: 0 auto;
  max-width: 800px;
}

.searchRes {
  margin: 20px auto;
  max-width: 200px;
  color: white;
}

.searchTextInput {
  max-width: 150px;
}

.searchInputs {
  display: flex;
  margin: 5px auto;
  min-width: 260px;
  max-width: 600px;
}
