/* TODO Add site wide styles */
html, body {
  margin: 0;
  padding: 0;
}

.searchRes {
  margin: 20px auto;
  max-width: 200px;
  color: white;
}

.searchInputs {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
}
