/* TODO Add site wide styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.loader {
  margin: 100px auto;
}

.displayOnline{
  color: greenyellow;
}

.factionVideo {
  margin: 30px auto;
  max-width: 800px;
}

.outfitBox{
  transition: all 1s;
  margin:20px auto;
}

.outfitBox:hover{
  transition: all 1s;
  box-shadow: 1px 1px 5px 5px #339933;
}

.outfitTableRow {
  transition: all 1s;
}

.outfitTableRow:hover {
  transition: all 1s;
  box-shadow: 1px 1px 5px 5px #339933;
}

.siteContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  z-index: -10;
}



.searchResContainer{
  margin: 0 auto;
  max-width: 800px;
}

.searchRes {
  margin: 20px auto;
  max-width: 200px;
  color: white;
}

.searchInputs {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
}
